<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajo practico n3</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!--menu superior-->
    <div class="navegacion">
      <h2> utilizacion de ajax en conjunto a PHP</h2>
     
     <ul>
        <li id="link_form">Formulario</li>
     </ul>

    </div>

<!--contenedor principal-->
<div id="main_contenedor">
     

</div>

<script src="../logics/Jquery-3.6.0.min.js"></script>
<script src="../logics/logicindex.js"></script>

</body>
</html>