<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
    
    <nav class="navegacion">
        <ul>
            <li><a href="#" id="linkFormUno"> Formulario Uno </a></li>
            <li><a href="#" id="linkFormDos"> Formulario Dos </a></li>
            <li><a href="#" id="linkPersonas"> View Personas </a></li>
        </ul>
    </nav>

    <div id="contenedor">
        
    </div>

    <footer>

    </footer>

    <script src="../JS/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../Controllers/Logic_Index.js" type="text/javascript"></script>

</body>
</html>