<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/estilo.css"></link>
</head>
<body>
    
    <nav class="navegacion">
        <h2 class="text-white">Trabajo Practico N° 3</h2>
        <ul>
            <li id="ref_form">Formulario</li>
        </ul>
    </nav>

    <div id="contenedor_main" class="main_contenedor">
        
    </div>

    <script src="../logic/jquery-3.6.0.min.js"></script>
    <script src="../logic/logicindex.js"></script>
</body>
</html>